html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: "Geometria",sans-serif;
  font-size: 40px;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
}

.slider-wrapper .slider {
  position: relative;
  height: 500px;
}

.slider .swiper-button-prev, .swiper-button-next {
  z-index: 10;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide .slide-background {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide .slide-background.one {
  background-image: url("../images/interbank-app-desktop.png");
}

.swiper-slide .slide-background.two {
  background-image: url("../images/supertasa-desktop.jpg");
}

.swiper-slide .slide-background.three {
  background-image: url("../images/campaña-millonaria-desktop_.png");
}

.o-container {
  max-width: 1280px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.o-container .text-container{
  position: absolute;
  top: 30%;
  bottom: 0;
  margin: auto 0;
  width: 500px;
  padding: 0px 50px;
}

.swiper-slide .o-container .text-container h1, p {
  font-family: sans-serif;
  color: #fff;
}

.swiper-slide .o-container .text-container h1 {
  font-size: 52px;
}

.swiper-slide .o-container .text-container p {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  /*Reajustar tamaños para movil aquí*/
  header h1 {
    font-size: 28px;
  }
}
